.filter-component {
  width: 100%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-x-large);
  padding: var(--space-medium) 0;
}
.filter-component label {
  padding-right: var(--space-x-small);
}
.filter-component__search-input {
  height: 24px;
}
.filter-component__search-button {
  height: 24px;
}
.filter-component__status-filter {
  height: 24px;
}
