.sort-filter {
  width: 100%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-x-large);
  padding: var(--space-medium) 0;
}
.sort label,
.filter label {
  margin-right: var(--space-x-small);
}
.sort select,
.filter select {
  height: 32px;
  padding: 0 var(--space-small);
}
