.sort-filter {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  padding: var(--space-medium);
  background-color: var(--background-color-medium);
}
.sort-filter-wrapper {
  width: 80%;
  display: flex;
  gap: var(--space-medium);
}
.sort,
.filter {
  flex: 1;
}
.sort label,
.filter label {
  margin-right: var(--space-x-small);
}
.sort select,
.filter select {
  height: 32px;
  padding: 0 var(--space-small);
}
